# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

# IntelliJ project files
.DS_Store
.idea

# ignore vendor folder
/vendor/

# ignore mysql folder
.mysql/

# ignore cache directory
/var

# ignore vendor directories
/vendor


